name: Release

on:
  workflow_run:
    workflows:
      - Spec
    types:
      - completed
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  release:
    name: Release

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Generate Token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        with:
          app_id: ${{ secrets.ARCHOLEATER_APP_ID }}
          private_key: ${{ secrets.ARCHOLEATER_APP_PRIVATE_KEY }}

      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Set Up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: latest

      - name: Set Up Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76

      - name: Install Dependencies
        run: bun i

      - name: Build
        run: bun build

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
        run: bun semantic-release
